/* PumaLandingPage.css */

*{
  margin: 0;
}
.landing-page {
  font-family: 'Geogrotesque', serif;
  /* padding: 0px; */
  }
  
  header {
    background-color: #000;
    color: #fff;
    /* padding: 20px 0; */
  }
  
.shop-now-button{ 
    position:absolute;
    top: 50%;
    right: 10%;
    padding: 10px;
  }
.background-image{
  background-image: url('/public/images/image2.png');
  background-size:cover;
  background-position: top;
  height: 60vh;
}
 
  /* Banner */
.scrolling-banner {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    white-space: nowrap;
    padding: 0 20px;
    ;
}
.banner-content {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 25s linear infinite;
    position: relative;
}
  .banner-content span {
    display: inline-block;
    color: rgb(255, 255, 255);
  }
  @keyframes scroll {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  h2, h3, h4, h5 {
    text-transform: uppercase;
  }

  
  .product-list{
    background-color: #ffffff;
    padding: 20px;
    overflow-x:auto;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }
  
  .shopping-options{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px; 
    flex-shrink: 0; 
    
  }
  .options{
    display: flex;
    flex-direction:column;
    flex-grow: 1; 
    margin-top: 20px;
    min-width: 25%;
    flex-shrink: 1;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.1);
    height: fit-content;
   
  }
  @media  (max-width: 1400px){
    .options {
      min-width: 45%; /* Adjust minimum width for smaller screens */
      max-width: 55%;
  }
}
  @media (max-width: 1200px) {
    .options {
        min-width: 45%; /* Adjust minimum width for smaller screens */
        max-width: 55%; /* Allow items to grow more */
    }
}

@media (max-width: 768px) {
    .options {
        min-width: 100%; /* Items grow significantly on smaller screens */
        max-width: 100%; /* Allow full width for very small screens */
    }
    .product-image {
      width: 100%; /* Ensure it fills the container */
      height: auto; /* Maintain aspect ratio */
    }
}
.product-image {
  width: 100%;  
  height: 100%;  
  object-fit: contain;  
  background-position: center; 
  
}

  .text{
    position: relative;
    text-align: left; 
    color: gray;
    font-size: 30px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    }

  
  .product-display1 {
    background-color: #ffffff;
    padding: 20px;
    overflow-x:scroll;
    margin-left: 9%;
    margin-right: 6%;
    text-align: center;
  }
  .banner {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap: 20px; 
    flex-shrink: 0; 
  }
  .option {
    display: flex;
    flex-direction:column;
    justify-content: flex-end; /* Pushes text to the bottom */
    position: relative;
    flex-grow: 1; 
    height: 30vh;
    min-width:20%;
    max-width: 23%;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1; 
    flex-shrink: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  @media (max-width: 1200px) {
    .option {
        min-width: 25%; /* Adjust minimum width for smaller screens */
        max-width: 45%; /* Allow items to grow more */
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .option {
        min-width: 50%; /* Items grow significantly on smaller screens */
        max-width: 100%; /* Allow full width for very small screens */
    }
}
.banner-text {
  position: relative;     
  top: 80%;            
  color: rgb(149, 148, 148);           
  text-transform: uppercase; 
  font-weight: bold;  
  font-size: 10px;    
}
