/* Header.css */
.main {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 12px 30px;  
    background: #513700;  /* Dark blue background for professionalism */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
    color: #f4f4f4;
    font-weight: 600;
}

.logo h1 {
    font-size: 1.4rem;  
    letter-spacing: 1px;  
    color: #f4f4f4; 
}
.navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;  /* Increased gap between items for a more spacious feel */
    margin: 0;
}

.navigation ul li {
    font-size: 1.1rem;  /* Slightly increased font size for better readability */
}

.navigation ul li a {
    color: white;
    text-decoration: none;
    padding: 6px 12px;  
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navigation ul li a:hover {
    color: #513700;  
    background-color: #FFEB3B;  
    border-radius: 20px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation ul {
        flex-direction: column;
        gap: 15px; 
    }

    .logo h1 {
        font-size: 1.3rem;  /* Increased logo size slightly for smaller screens */
    }

    .navigation ul li {
        font-size: 1rem;  /* Adjusted font size for smaller screens */
    }

    .navigation ul li a {
        padding: 8px 16px;  /* Adjusted padding for better spacing on small devices */
    }
}

.nav {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 12px 30px;  
    background: #f4f4f4;  /* Dark blue background for professionalism */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
    color: #003366;
    font-weight: 600;
    list-style: none;
    gap: 2rem;
}
.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;  /* Increased gap between items for a more spacious feel */
    margin: 0;
}

.nav ul li {
    font-size: 1.1rem;  /* Slightly increased font size for better readability */
}