*{
  font-family: 'Georgia', serif;
}

.sort-dropdown {
  display: flex;
  align-items: center;
}

.filter-controls {
  display: flex;
  justify-content: right;
  gap: 20px;
}
.filter-controls select {
  border: none;
  background: transparent;
  -webkit-appearance: none; /* For Safari */
  outline: none;
  font-size: 20px;
  color: #333;
}

.product-listing-container {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Sidebar Styles */
.sidebar {
  position: sticky;
  top: 20px;
  height: fit-content;
  padding: 20px;
  background: white;
  border-right: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
}

.filter-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.filter-content .filter-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-header {
  display: flex;
  justify-content: left;
}

.search-header span {
  color: #757575;
  font-size: 20px;
  font-weight: bold;
  padding-left: 2rem;
}

.search-header p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.filter-item {
  border-bottom: 1px solid #e5e5e5;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
  font-size: 16px;
}

.chevron {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
  font-size: 16px;
  color: #757575;
}

.chevron.expanded {
  transform: rotate(270deg);
}

/* Main Content Styles */
.main-content {
  flex: 1;
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 70px;
}

.product-card {
  position: relative;
  background: white;
  padding: 10px;
}

.product-card img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.price{
  font-size: large;
  font-weight: bold;
  
}


.product-badge span {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background: #000;
  padding: 2px 5px;
  border-radius: 3px;
}

.filter-button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
}

.filter-button:hover {
  background-color: #f5f5f5;
}

.content-header {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .product-listing-container {
    grid-template-columns: 220px 1fr;
  }
}

@media (max-width: 768px) {
  .product-listing-container {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}
