html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', sans-serif; /* Sets the font for the entire app */
    background-color: #f4f4f4; /* Light background color */
    color: #333; /* Dark text color for readability */
    height: 100%;
}

